@{
    ViewData["Title"] = "WKTechnology";
}

<div class="text-center">
    <h1 class="display-4">Olá visitante!</h1>
    <p>Utilize o menu para acessar o cadastro de Categorias e Produtos</p>
</div>
